{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Requisição de Cadastro</title>
    <link rel="stylesheet" href="{% static 'stylesheets/login.css' %}">
    <script>
        function updateDetails() {
            var condominioSelect = document.getElementById('condominio');
            var selectedOption = condominioSelect.options[condominioSelect.selectedIndex];

            var condominioName = selectedOption.textContent || 'N/A';
            var maxBlocos = selectedOption.getAttribute('data-blocos') || 'N/A';
            var maxAndares = selectedOption.getAttribute('data-andares') || 'N/A';
            var maxApt = selectedOption.getAttribute('data-apartamentos') || 'N/A';

            document.getElementById('condominio-name').textContent = condominioName;
            document.getElementById('max_blocos').textContent = maxBlocos;
            document.getElementById('max_andares').textContent = maxAndares;
            document.getElementById('max_apt').textContent = maxApt;

            // Show or hide details based on the number of blocs, floors, and apartments
            document.getElementById('blocos-section').style.display = (maxBlocos > 1) ? 'block' : 'none';
            document.getElementById('andares-section').style.display = (maxAndares > 1) ? 'block' : 'none';
            document.getElementById('apt-section').style.display = (maxApt > 1) ? 'block' : 'none';
        }

        function showDetails() {
            var condominioSelect = document.getElementById('condominio');
            var selectedOption = condominioSelect.options[condominioSelect.selectedIndex];

            if (selectedOption.value) {
                document.getElementById('condominio-section').style.display = 'none';
                document.getElementById('details-section').style.display = 'block';
            } else {
                alert("Por favor, selecione um condomínio.");
            }
        }

        function resetForm() {
            document.getElementById('condominio-section').style.display = 'block';
            document.getElementById('details-section').style.display = 'none';
            document.getElementById('condominio-name').textContent = '';
            document.getElementById('blocos-section').style.display = 'none';
            document.getElementById('andares-section').style.display = 'none';
            document.getElementById('apt-section').style.display = 'none';
        }
    </script>
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <h1>Bem-vindo, {{ not_pessoa.nome }}!</h1>
    </div>
    
    <div class="container">
        <h2>Requisição de Cadastro para {{ not_pessoa.nome }}</h2>

        {% if pendencia %}
            <h5>Você tem uma pendência:</h5>
            <p><strong>Condomínio:</strong> {{ pendencia.nome }}</p>
            <p><strong>Imóvel:</strong> {{ not_pessoa.andar }}{{ not_pessoa.apt | stringformat:"02d" }}-{{ not_pessoa.bloco }}</p>
            
            <!-- Botão "Excluir Requisição" aparece apenas se pendencia não for null -->
            <form method="post" action="{% url 'excluir_requisicao' not_pessoa.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Excluir Requisição</button>
            </form>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <!-- Primeira Parte: Seleção do Condomínio -->
                <div id="condominio-section">
                    <div class="form-group">
                        <label for="condominio">Condomínio</label>
                        <select class="form-control" id="condominio" name="condominio" required onchange="updateDetails()">
                            <option value="">Selecione um Condomínio</option>
                            {% for condominio in condominios %}
                                <option value="{{ condominio.id }}" data-blocos="{{ condominio.nro_blocos }}" data-andares="{{ condominio.nro_andares }}" data-apartamentos="{{ condominio.nro_apt }}">{{ condominio.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="showDetails()">Confirmar Seleção</button>
                </div>

                <!-- Segunda Parte: Detalhes e Formulário Completo -->
                <div id="details-section" style="display:none;">
                    <h4>Condomínio Selecionado: <strong><span id="condominio-name"></span></strong></h4>
                    
                    <div id="blocos-section" style="display:none;">
                        <div class="form-group">
                            <label>Número de Blocos: <span id="max_blocos">N/A</span></label>
                            <label for="bloco">Blocos</label>
                            <input type="number" class="form-control" id="bloco" name="bloco" min="1" value="1">
                        </div>
                    </div>

                    <div id="andares-section" style="display:none;">
                        <div class="form-group">
                            <label>Número de Andares: <span id="max_andares">N/A</span></label>
                            <label for="andar">Andares</label>
                            <input type="number" class="form-control" id="andar" name="andar" min="1" value="1">
                        </div>
                    </div>

                    <div id="apt-section" style="display:none;">
                        <div class="form-group">
                            <label>Número de Apartamentos: <span id="max_apt">N/A</span></label>
                            <label for="apt">Apartamentos</label>
                            <input type="number" class="form-control" id="apt" name="apt" min="1" value="1">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar Pedido</button>
                    <button type="button" class="btn btn-secondary" onclick="resetForm()">Alterar Condomínio</button>
                </div>
            </form>
        {% endif %}
    </div>
    <div class="container">
        <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
    </div>
    <div class="container">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
    {% include "footer.html" %}
</body>
</html>
