{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Requisição de Cadastro</title>
    <link rel="stylesheet" href="{% static 'stylesheets/not_pessoa.css' %}">
    <script>
        function updateDetails() {
            var condominioSelect = document.getElementById('condominio');
            var selectedOption = condominioSelect.options[condominioSelect.selectedIndex];

            var condominioName = selectedOption.textContent || 'N/A';
            var maxBlocos = selectedOption.getAttribute('data-blocos') || 'N/A';
            var maxAndares = selectedOption.getAttribute('data-andares') || 'N/A';
            var maxApt = selectedOption.getAttribute('data-apartamentos') || 'N/A';

            document.getElementById('condominio-name').textContent = condominioName;
            document.getElementById('max_blocos').textContent = maxBlocos;
            document.getElementById('max_andares').textContent = maxAndares;
            document.getElementById('max_apt').textContent = maxApt;

            // Show or hide details based on the number of blocs, floors, and apartments
            document.getElementById('blocos-section').style.display = (maxBlocos > 1) ? 'block' : 'none';
            document.getElementById('andares-section').style.display = (maxAndares > 1) ? 'block' : 'none';
            document.getElementById('apt-section').style.display = (maxApt > 1) ? 'block' : 'none';
        }

        function showDetails() {
            var condominioSelect = document.getElementById('condominio');
            var selectedOption = condominioSelect.options[condominioSelect.selectedIndex];

            if (selectedOption.value) {
                document.getElementById('condominio-section').style.display = 'none';
                document.getElementById('details-section').style.display = 'block';
            } else {
                alert("Por favor, selecione um condomínio.");
            }
        }

        function resetForm() {
            document.getElementById('condominio-section').style.display = 'block';
            document.getElementById('details-section').style.display = 'none';
            document.getElementById('condominio-name').textContent = '';
            document.getElementById('blocos-section').style.display = 'none';
            document.getElementById('andares-section').style.display = 'none';
            document.getElementById('apt-section').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="header-login"></div>
    <!-- Container Principal -->
    <div class="container my-5">

        <!-- Boas-vindas -->
        <div class="text-center mb-4">
            <h1 class="display-4">Bem-vindo, {{ not_pessoa.nome }}!</h1>
        </div>

        <!-- Seção de Requisição de Cadastro -->
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title mb-4">Requisição de Cadastro</h2>

                <!-- Exibição de Pendência -->
                {% if pendencia %}
                    <h5 class="mb-3">Você tem uma pendência:</h5>
                    <ul class="list-unstyled mb-4">
                        <li><strong>Condomínio:</strong> {{ pendencia.nome }}</li>
                        <li><strong>Imóvel:</strong> {{ not_pessoa.andar }}{{ not_pessoa.apt | stringformat:"02d" }}-{{ not_pessoa.bloco }}</li>
                    </ul>
                    
                    <!-- Botão Excluir Requisição -->
                    <form method="post" action="{% url 'excluir_requisicao' not_pessoa.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Excluir Requisição</button>
                    </form>
                {% else %}
                    <!-- Exibição de Mensagens -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if error_message %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error_message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <!-- Formulário de Requisição -->
                    <form method="post">
                        {% csrf_token %}

                        <!-- Seleção do Condomínio -->
                        <div id="condominio-section" class="mb-4">
                            <div class="mb-3">
                                <label for="condominio" class="form-label form-label-lg">Condomínio</label>
                                <select class="form-select form-select-lg highlight-background" id="condominio" name="condominio" required onchange="updateDetails()">
                                    <option value="">Selecione um Condomínio</option>
                                    {% for condominio in condominios %}
                                        <option value="{{ condominio.id }}" data-blocos="{{ condominio.nro_blocos }}" data-andares="{{ condominio.nro_andares }}" data-apartamentos="{{ condominio.nro_apt }}">{{ condominio.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="showDetails()">Confirmar Seleção</button>
                        </div>

                        <!-- Detalhes e Formulário Completo -->
                        <div id="details-section" style="display:none;">
                            <h4 class="mb-3">Condomínio Selecionado: <strong><span id="condominio-name"></span></strong></h4>
                            
                            <div id="blocos-section" class="mb-3" style="display:none;">
                                <div class="mb-3">
                                    <label class="form-label">Número de Blocos: <span id="max_blocos">N/A</span></label>
                                    <label for="bloco" class="form-label">Blocos</label>
                                    <input type="number" class="form-control" id="bloco" name="bloco" min="1" value="1">
                                </div>
                            </div>

                            <div id="andares-section" class="mb-3" style="display:none;">
                                <div class="mb-3">
                                    <label class="form-label">Número de Andares: <span id="max_andares">N/A</span></label>
                                    <label for="andar" class="form-label">Andares</label>
                                    <input type="number" class="form-control" id="andar" name="andar" min="1" value="1">
                                </div>
                            </div>

                            <div id="apt-section" class="mb-3" style="display:none;">
                                <div class="mb-3">
                                    <label class="form-label">Número de Apartamentos: <span id="max_apt">N/A</span></label>
                                    <label for="apt" class="form-label">Apartamentos</label>
                                    <input type="number" class="form-control" id="apt" name="apt" min="1" value="1">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar Pedido</button>
                            <button type="button" class="btn btn-secondary" onclick="resetForm()">Alterar Condomínio</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="container my-3">
            <div class="d-flex justify-content-around">
                <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
