<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo, {{ pessoa.nome }}!</h1>
        <h5>{{ pessoa.condominio }}, bloco {{ pessoa.bloco }}, {{ pessoa.andar }}º andar, apto. {{ pessoa.apt }}</h5>  
    </div>
    <div class="container">
        <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
    </div>
    <div class="container">
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
</body>
</html>

