{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Editar Membro</title>
    <link rel="stylesheet" href="{% static 'stylesheets/login.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <h1>Editar {{ pessoa.nome }}</h1>
    </div>
    <div class="container">
        <h2>Informações Atuais</h2>
        <p><strong>Nome:</strong> {{ pessoa.nome }}</p>
        <p><strong>Email:</strong> {{ pessoa.email }}</p>
        <p><strong>CPF:</strong> {{ pessoa.cpf }}</p>
        <p><strong>Condomínio:</strong> {{ pessoa.condominio }}</p>
        <p><strong>Bloco:</strong> {{ pessoa.bloco }}</p>
        <p><strong>Andar:</strong> {{ pessoa.andar }}</p>
        <p><strong>Apartamento:</strong> {{ pessoa.apt }}</p>
    </div>
    <div class="container">
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <h4>Editar Informações</h4>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="bloco">{{ form.bloco.label }}</label>
                <input type="text" class="form-control {% if form.bloco.errors %}is-invalid{% endif %}" id="bloco" name="bloco" value="{{ form.bloco.value }}" placeholder="Digite o bloco">
                {% if form.bloco.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.bloco.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="andar">{{ form.andar.label }}</label>
                <input type="text" class="form-control {% if form.andar.errors %}is-invalid{% endif %}" id="andar" name="andar" value="{{ form.andar.value }}" placeholder="Digite o andar">
                {% if form.andar.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.andar.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="apt">{{ form.apt.label }}</label>
                <input type="text" class="form-control {% if form.apt.errors %}is-invalid{% endif %}" id="apt" name="apt" value="{{ form.apt.value }}" placeholder="Digite o apartamento">
                {% if form.apt.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.apt.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <form method="post" action="{% url 'transformar_para_notpessoa' pessoa.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <a href="{% url 'adm_lista_moradores' %}" class="btn btn-secondary mb-4">Voltar</a>
    </div>
    {% include "footer.html" %}
</body>
</html>
