{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Moradores</title>
    <link rel="stylesheet" href="{% static 'stylesheets/adm.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="container mt-4">
        <h1 class="mb-4">Gerenciar Imóveis</h1>
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% for condominio, dados in context.items %}
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="mb-0">Condomínio: {{ condominio }}</h2>

                    <div class="container">
                        <p>Endereço: {{ condominio.endereco }}</p>
                        {% if condominio.nro_pisc > 0 or condominio.nro_acad > 0 or condominio.nro_lazer > 0 %}
                            <h4>Áreas de Lazer</h4>
                            <ul>
                                {% if condominio.nro_pisc > 0 %}
                                    <li>Piscinas: {{ condominio.nro_pisc }}</li>
                                {% endif %}
                                {% if condominio.nro_acad > 0 %}
                                    <li>Academias: {{ condominio.nro_acad }}</li>
                                {% endif %}
                                {% if condominio.nro_lazer > 0 %}
                                    <li>Áreas de Lazer: {{ condominio.nro_lazer }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for pessoa in dados.pessoas %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>Nome:</strong> {{ pessoa.nome }} {% if pessoa.sindico %}(Síndico){% endif %}<br>
                                <strong>Bloco:</strong> {{ pessoa.bloco }}<br>
                                <strong>Andar:</strong> {{ pessoa.andar }}<br>
                                <strong>Apt:</strong> {{ pessoa.apt }}
                            </div>
                            <div>
                                {% if pessoa.id %}
                                    <a href="{% url 'adm_editar_morador' pessoa.id %}" class="btn btn-primary btn-sm">Editar</a>
                                {% else %}
                                    <span class="btn btn-secondary btn-sm" disabled>Editar</span>
                                {% endif %}
                                {% if pessoa.sindico %}
                                    <button class="btn btn-secondary btn-sm" disabled>Tornar Síndico</button>
                                {% else %}
                                    {% if dados.sindico_exists and dados.current_sindico_id == pessoa.id %}
                                        <button class="btn btn-secondary btn-sm" disabled>Tornar Síndico</button>
                                    {% else %}
                                        <a href="{% url 'adm_tornar_sindico' pessoa.id %}" class="btn btn-secondary btn-sm">Tornar Síndico</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <a href="{% url 'user_home_redirect' %}" class="btn btn-secondary ml-2">Voltar</a>
    </div>
    {% include "footer.html" %}
</body>
</html>
