<!DOCTYPE html>
<html>
<head>
    <title>Meus condomínios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Meus condomínios</h1>
        <ul>
            {% for cond in condominios %}
            <li>
                <a href="{% url 'adm_detalhes_condominio' cond.id %}">{{ cond.nome }}</a>
            </li>
            {% empty %}
            <li>
                Não há condomínios.
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'adm_home' %}" class="btn btn-secondary">Voltar</a>
    </div>
</body>
</html>