<!DOCTYPE html>
<html>
<head>
    <title>ConstruFácil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Logo da ConstruFácil</h1>
        <h5>"Texto chamativo"</h5>
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
    </div>
    <div class="container">
        <a href="{% url 'cadastro' %}" class="btn btn-primary">Quero me cadastrar</a>
    </div>
</body>
</html>
