<!DOCTYPE html>
<html>
<head>
    <title>Requisição de Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script>
        function updateDetails() {
            var condominioSelect = document.getElementById('condominio');
            var selectedOption = condominioSelect.options[condominioSelect.selectedIndex];

            var maxBlocos = selectedOption.getAttribute('data-blocos') || 'N/A';
            var maxAndares = selectedOption.getAttribute('data-andares') || 'N/A';
            var maxApt = selectedOption.getAttribute('data-apartamentos') || 'N/A';

            document.getElementById('max_blocos').textContent = maxBlocos;
            document.getElementById('max_andares').textContent = maxAndares;
            document.getElementById('max_apt').textContent = maxApt;
        }

        function showDetails() {
            document.getElementById('details-section').style.display = 'block';
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Requisição de Cadastro para {{ not_pessoa.nome }}</h1>

        {% if not_pessoa.pendencia %}
            <h5>Você tem uma pendência:</h5>
            <p><strong>Condomínio:</strong> {{ not_pessoa.pendencia.nome }}</p>
            <p><strong>Imóvel:</strong> {{ not_pessoa.andar }}{{ not_pessoa.apt|stringformat:"02d" }}-{{ not_pessoa.bloco }}</p>
        {% else %}
            <h5>Pedido de cadastro no edifício:</h5>
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}

            <!-- Primeira Parte: Seleção do Condomínio -->
            <div id="condominio-section">
                <form id="condominio-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="condominio">Condomínio</label>
                        <select class="form-control" id="condominio" name="condominio" required onchange="updateDetails()">
                            <option value="">Selecione um Condomínio</option>
                            {% for condominio in condominios %}
                                <option value="{{ condominio.id }}" data-blocos="{{ condominio.nro_blocos }}" data-andares="{{ condominio.nro_andares }}" data-apartamentos="{{ condominio.nro_apt }}">{{ condominio.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="showDetails()">Confirmar Seleção</button>
                </form>
            </div>

            <!-- Segunda Parte: Detalhes e Formulário Completo -->
            <div id="details-section" style="display:none;">
                <div id="condominio-details" class="mb-3">
                    <div class="form-group">
                        <label>Numbero of Blocks: <span id="max_blocos">N/A</span></label>
                    </div>
                    <div class="form-group">
                        <label>Number of Floors: <span id="max_andares">N/A</span></label>
                    </div>
                    <div class="form-group">
                        <label>Number of Apartments: <span id="max_apt">N/A</span></label>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="bloco">Bloco</label>
                        <input type="number" class="form-control" id="bloco" name="bloco" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="andar">Andar</label>
                        <input type="number" class="form-control" id="andar" name="andar" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="apt">Apartamento</label>
                        <input type="number" class="form-control" id="apt" name="apt" min="1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Pedido</button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="container">
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    </div>
</body>
</html>
