<!DOCTYPE html>
<html>

<head>
    <title>Criar Assembléia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">
        <h2>Criar Assembleia</h2>
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="condominio">Condomínio</label>
                <select class="form-control" id="condominio" name="condominio" required>
                    <option value="">Selecione um Condomínio</option>
                    {% for condominio in condominios %}
                        <option value="{{ condominio.id }}">{{ condominio.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>

            <button type="submit" class="btn btn-primary">Criar Assembleia</button>
        </form>
    </div>
</body>

</html>