<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Cadastro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}
            {{ form.password2.label_tag }} {{ form.password2 }}
            {{ form.email.label_tag }} {{ form.email }}
            {{ form.email2.label_tag }} {{ form.email2 }}
            {{ form.nome.label_tag }} {{ form.nome }}
            {{ form.cpf.label_tag }} {{ form.cpf }}
            {{ form.bloco.label_tag }} {{ form.bloco }}
            {{ form.andar.label_tag }} {{ form.andar }}
            {{ form.apt.label_tag }} {{ form.apt }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</body>
</html>
