<!DOCTYPE html>
<html>
<head>
    <title>Criar Prédio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Criar Prédio</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome_predio">Nome do Prédio</label>
                <input type="text" class="form-control" id="nome_predio" name="nome_predio" required>
            </div>
            <div class="form-group">
                <label for="endereco_predio">Endereço do Prédio</label>
                <input type="text" class="form-control" id="endereco_predio" name="endereco_predio" required>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
        {% if nome_predio %}
            <div class="alert alert-success" role="alert">
                Prédio {{ nome_predio }} criado com sucesso!
            </div>
        {% endif %}
    </div>
</body>
</html>
