<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Login do Morador</h1>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Entrar</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
    <div class="container">
        <p>Pra facilitar minha vida:</p>
        <ul>
            <li><b>Administradora:</b> construtorabrasil</li>
            <li><b>Morador:</b> ~nossos nomes~</li>
            <li><b>Conta que fez requisição:</b> usuarionaoaprovado</li>
            <li><b>Conta recém criada:</b> novaconta</li>
        </ul>
    </div>
</body>
</html>
