/* import main CSS file*/
@import "styles.css";

.footer {
    padding: 2vh 5vw;
    background-color: var(--blue);
    color: white;
    width: 100%;
    text-align: center;
}

.footer p {
    padding: 0.5vh 0;
    font-size: 12px;
    margin-bottom: 0;
}