
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

/* imported from https://color.adobe.com/trends/Ui/ux */
:root {
    /* Color Theme Swatches in Hex 
    --SEF-white: #F0F0F2;
    --SEF-darkblue: #6F7BBF;
    --SEF-lightblue: #79A3D9;
    --SEF-dark: #0D0C0B;
    --SEF-orange: #F29F80;*/

    --white: #F0F0F2;
    --blue: #6F7BBF;
    --darkgreen: #387780;
    /*--green: #6AB547;*/
    --green: #7A9E7E;
    --yellow: #F6AE2D;
    --red: #E83151;
    --gray: #7c7e8c;
    --black: #332E3C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:100%;
    max-width:720px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* Estilos para o título 
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}*/

/* Estilos para os botões */
.btn {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    font-weight: 700;
}

.btn-primary {
    background-color: var(--blue);
    color: white;
    border-color: var(--blue);
}

.btn-primary:hover {
    background-color: white;
    color: var(--blue);
}

.btn-secondary {
    background-color: white;
    color: var(--gray);
    border-color: var(--gray);
}

.btn-secondary:hover {
    background-color: white;
    color: var(--blue);
    border-color: var(--blue);
}

.btn-success {
    background-color: var(--green);
    color: white;
    border-color: var(--green);
}

.btn-success:hover {
    background-color: white;
    color: var(--blue);
    border-color: var(--blue);
}

.btn-danger {
    background-color: var(--red);
    color: white;
    border-color: var(--red);
}

.btn-danger:hover {
    background-color: white;
    color: var(--red);
    border-color: var(--red);
}

.btn-warning {
    background-color: var(--yellow);
    color: white;
    border-color: var(--yellow);
}

.btn-warning:hover {
    background-color: white;
    color: var(--yellow);
    border-color: var(--yellow);
}

.btn-light {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}

.btn-light:hover {
    background-color: white;
    color: var(--blue);
    border-color: var(--blue);
}

.btn-dark {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
}

.btn-dark:hover {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}